* {
    box-sizing: border-box;
  }
  body .container .row{
    padding-top: 100px;
  }
  .table-content th{
    width: 227px;
  }
  .info-left img{
    max-width: 313px;
    margin: 50px;
  }
  @media only screen and (max-width: 480px) {
    .fullname{
      text-align: center;
    }
    .info-left img{
      /* width: 80px;
      border-radius: 50%;
        box-sizing: border-box; */
    padding-left: 60px;
      }
      .table-content th{
        width: 105px;
      }
  }
/* .info{
    display: flex;
    justify-content: center;
}
.info-right{
    margin-left: 23px;

}
.infor-left{
    padding-top: 25px;
}
.table tr{
    text-align: left;
    margin-right: 5px;

}
.table th{
    padding-right: 40px;
} */

/* CSS HOME PAGE */
#homepage-title{
  padding: 23px;
}
#homepage-table{
  border:0;
}
/* END CSS HOME PAGE */
